* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2vh;
}

.rule {
	display: grid;
	grid-template-rows: repeat(5, 7vh);
	grid-template-columns: repeat(5, 7vh);
	gap: 1vh;
}

.cell {
	border-radius: 25%;
}

.cell[value="0"] {
	background-color: #555;
}

.cell[value="1"] {
	background-color: #ddd;
}

.cnv {
	width: 70vh;
	background-color: #333;
}